<html>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/5.0.0/stellar-sdk.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/JustMaier/6ef7788709d675bd8230/raw/3d39d50e66d8d77e05656ed7dd09298be7e86f1f/ngClickCopy.js"></script>

        <!-- Include the Semantic CSS UI -->
        <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="semantic/semantic.min.js"></script>
        <script src="check.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </header>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <br>
            <div class="ui container segments">
                <div class="ui segment">
                    <h2 class="ui header">
                        <img class="ui avatar huge image" src="./ShareWonLogo.png">
                        <span>ShareWon Wallet Balance Check</span>
                    </h2>
                </div>
                <div class="ui segment">
                    <h3 class="ui header">Account Address: </h3>
                    <div class="ui">
                        <div class="ui fluid input"><input type="text" ng-model="address" placeholder="Input Address"/></div>
                        <br>
                        <button class="ui button black" ng-click="update(address)">Check</button>
                    </div>
                    <br>
                </div>
                <div class="ui segment">
                    <h3 class="ui header">Account Balance: </h3>
                    <table class="ui">
                        <tr ng-repeat="x in account.balances">
                            <td>
                                <!-- <p ng-if="x.asset_type == 'native'">XLM balance:</p> -->
                                <p ng-if="x.asset_type != 'native'">{{x.asset_code}} balance:</p>
                            </td>
                            <td>
                                <p ng-if="x.asset_type != 'native'">{{x.balance}}</p>
                            </td>
                        </tr>
                    </table>
                    <br>
            </div>
        </div>
    </body>
    <footer>
        <div class="ui vertical footer segment form-page">
            <p style="text-align: center; color: grey;">Powered by Wealthskey</p>
        </div>
    </footer>
</html>