@media (min-height: 320px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      /* position: absolute; */
      bottom: 0;
      width: 100%;
    }
}

p.addr {
  word-break: break-all;
}

.qrscanner video {
  max-width: 95%;
  max-height: 75%;
}

.addr {
  word-break: break-all;
  font-size: 4px;
  color: gray;
}